<div class="fondo">
  <div class="burbujeo"></div>

  <div class="nombre-partida-header">
    Partida: <strong>{{ nombrePartida || 'Sin nombre' }}</strong>
  </div>


  <div class="crear-partida-card">
    <h2 class="titulo">🗿 Crear Usuario Administrador</h2>

    <form [formGroup]="adminForm" (ngSubmit)="crearUsuarioAdministrador()">
      <div class="form-section">
        <input id="nombre" formControlName="nombre" placeholder="Nombre del Administrador" />

        <div class="error" *ngIf="nombre?.touched && nombre?.invalid">
          <div *ngIf="nombre?.errors?.['required']">El nombre es obligatorio.</div>
          <div *ngIf="nombre?.errors?.['minlength']">Debe tener al menos 5 caracteres.</div>
          <div *ngIf="nombre?.errors?.['maxlength']">No puede tener más de 20 caracteres.</div>
          <div *ngIf="nombre?.errors?.['pattern']">
            El nombre no debe contener solo números, ni caracteres especiales (_,.*#/-),
            y máximo puede tener 3 números.
          </div>
        </div>
      </div>

      <div class="form-section">
        <select id="modo" formControlName="modo">
          <option value="" disabled hidden>Selecciona modo de visualización</option>
          <option value="jugador">Jugador</option>
          <option value="espectador">Espectador</option>
        </select>


        <div class="error" *ngIf="modo?.touched && modo?.invalid">
          <div *ngIf="modo?.errors?.['required']">El modo es obligatorio.</div>
        </div>
      </div>

      <div class="form-footer">
        <button type="submit" [disabled]="adminForm.invalid">Crear Administrador 💼</button>
      </div>
    </form>
  </div>
</div>