
.titulo-carta {
  text-align: center;
  font-size: 1.8em;
  margin-top: 24px;
  margin-bottom: 16px;
  color: #FFFFFF;
  font-weight: 600;

}
.mensaje-error {
  color: #ff5a5a;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.cartas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 1rem;
  margin-top: 1rem;
}

.carta {
  width: 64px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid #a855f7; /* morado brillante */
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(168, 85, 247, 0.2);
  backdrop-filter: blur(4px);
}

.carta:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.4);
}

.carta.seleccionada {
  background-color: #E4A4FF;
  border: 2px solid #E4A4FF;
  color: #330072;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
